@import url("https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap");
*{
	margin:0;
	padding:0px;
	border:0;
}

/*Navbar*/
.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-brand img {
	width: 40%;
	height: 40%;
}

.navbar-light .navbar-nav .nav-link { /*Stack Overflow*/    
	color: red;
}

.navbar {
	background-color: ghostwhite;
}

body {
	font-family:  "Arial", sans-serif;
	margin: 0px;
	background-color: #f8f9fa;
	max-width: 2000px;
	/*Code below suggested by Mentor to align anything with body*/
    margin-left: auto;
    margin-right: auto;
}

h2,h3 {
	font-family: "Arial", "Brush Script MT", cursive;
}

/*Insperation from Code Institute “Love Running” tutorial site*/
#main-image {
	height: 600px;
	width: 100%;
	background: url("https://starranuk.github.io/pls/assets/images/van2.jpg") no-repeat center center;
	animation-name: hero-zoom;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

#main-outer {
	height: 600px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

@keyframes hero-zoom {
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1.1);
	}
}

#cover-text-upper, #cover-text-lower h2 {
	color:#f8f9fa;
}

#cover-text-upper {
	font-size: 2rem;
	font-family: Oswald;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #f8f9fa;
	width: 650px;
	height: 100px;
	border-radius: 2%;
	padding-top: 30px;
	padding-left: 10px;
	background-color: rgba(51, 45, 108, .7);
	top: 30px;
	left: 150px;
	position: absolute;
}

#cover-text-lower {
	font-size: 2rem;
	font-family: Oswald;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #ffffff;
	width: 600px;
	height: 200px;
	border-radius: 2%;
	padding-top: 40px;
	padding-left: 10px;
	background-color: rgba(51, 45, 108, .7);
	bottom: 30px;
	right: 150px;
	position: absolute;
}

.product {
	color: #ffffff;
	background-color:rgb(51, 45, 108, .7);
	width: 100%;
	height: 250px;
	float: left;
	padding: 10px 5px 5px 10px;
	text-align: center;
	border-radius: 2%;
	margin: 7px;
	position: relative;
}

.product h3 {
	color: #ffffff;
	text-align: center;
}

/*Footer*/
.end {
	text-align: center;
	width: 100%;
	height: 300px;
	padding: 10px 0 0 10px;
	position: relative;
}

strong {
	font-weight: bold;
}

.end li {
	list-style-type: none;/*W3Schools*/
	text-align: center;
}

iframe {
	width: 100%; 
	height: 200px;   
}

/*Hire Page*/
.brand-color {
	background-color: rgba(51, 45, 108, .7);
	width: 100%;
}

.brand-color h2 {
	color:#ffffff;
	text-align: center;
}

.hire-item {
	text-align: center;
	border-radius: 2%;
	margin: 2px;
	position: relative;
}

.hire-item img {
	border-radius: 2%;	
}

.hire-item p {
	text-align: center;
	color: #ffffff;
}

/* Contact Page */
/*Insperation from Code Institute “Love Running” tutorial site*/
#contact-form-container {
	background: url("https://starranuk.github.io/pls/assets/images/van2.jpg");
    background-size: cover;
  	background-position: center;
  	height: 1200px;
	position: relative;
}

#form-block {
    color: #ffffff;
    background-color: rgba(51, 45, 108, .8);
    width: 40%;
	position: absolute;
	margin: 0 auto;
	border-radius: 4%;
    padding: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-input {
    background-color: #ffffff;
    color: #562680;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 5px;
	padding: 5px 0 0 5px;
}

textarea {
	background-color: #ffffff;
    color: #562680;
	width: 100%;
	height: 80px;
	border-radius: 5px;
	margin-top: 20px;
    margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px 0 0 5px;
	border: 1px solid rgba(254, 254, 254, 0.3);
}

  label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 1rem;
    padding:0;
	padding-bottom: 15px;
}

  .submit-button {
	border-radius: 3px;
	color:#999999;
	padding: 10px 32px;
	text-align: center;
	font-size: 1rem;
}

.signup-form {
    margin-top: 35px;
}
/*iMac Pro*/
@media screen and (max-width: 5000px) {

	#cover-text-upper {
		text-align: center;
		left: 0;
	}
	#cover-text-lower {
		text-align: center;
		right: 0;
	}

@media screen and (max-width: 1280px) {

	#cover-text-upper {
		text-align: center;
		left: 0;
	}
	#cover-text-lower {
		text-align: center;
		left: 0;
	}

	.product {
		height: 300px;
	}

	#form-block {
		width: 90%;
	}
	/*iPhone 5/SE*/
@media screen and (max-width: 414px) {
	
		.navbar-nav h4 {
		font-size: 100%;
		}

		#cover-text-upper {
			
			width: 300px;
			height: 150px;
			padding: 20px 0px 0px 20px;
		}

		#cover-text-lower {
			width: 300px;
			height: 200px;
			padding: 15px 0px 0px 15px;
		}

		#cover-text-upper h2 {
			left: 0px;
			font-size: 80%;
			text-align: left;
	}
		#cover-text-lower h2 {
			left: 0px;
			font-size: 80%;
			text-align: left;
		
	}
		.top-nav {
			margin: auto;
	}
		/*Contact Form*/
		#contact-form-container {
			height: 1000px;
			
	}
		#form-block {
			width: 80%;
			
	}
		.contact-text {
			font-size: 80%;
	}
		legend {
			font-size: 80%;
		}
		fieldset h4 {
			font-size: 80%;
		}
		label {
			font-size: 80%;
	
		}

		.text-input {
			margin-top: 2px;
    		margin-bottom: 5px;
		}
		.submit-button {
			padding: 10px 25px;
			font-size: 12px;
		}
		/*Hire*/

		}
		.hire-p {
			font-size: 80%;
		}

		/*Footer*/
		.end {
			width: 100%;	
		}

	}	
	
}




	

