@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
*{
	margin:0;
	padding:0;
	border:0;
}

.navbar-brand {
	color: #562680;
}

}
body {
	font-family:  'Arial', sans-serif;
	margin: 0;
	background-color: whitesmoke;
	max-width: 2000px;
    margin-left: auto;
    margin-right: auto;

}

h1,h2,h3 {
	font-family: 'Arial', 'Brush Script MT', cursive;
}
.navbar-toggler-icon { margin-left: auto; }

/**#cover-text-top {
	font-size: 230%;
	font-family: Oswald;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #562680;
	text-align:center;
	margin-left: auto;
    margin-right: auto;
	

	padding-top: 40px;
	padding-left: 10px;

	top: 4px;
    right: 478px;

	position: absolute;
}**/

.navbar {
	background-color: whitesmoke;
}
#main-image {
	height: 600px;
	width: 100%;
	background: url("https://starranuk.github.io/pls/assets/images/van2.jpg") no-repeat center center;
	
	animation-name: hero-zoom;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

#main-outer {
	height:600px;
	width:100%;
	overflow: hidden;
	position: relative;
}

@keyframes hero-zoom {
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1.1);
	}
}

#cover-text-upper, #cover-text-lower h2 {
	color:#ffffff;
}

#cover-text-upper {
	font-size: 130%;
	font-family: Oswald;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #ffffff;

	width: 650px;
	height: 100px;
	border-radius: 2%;

	padding-top: 40px;
	padding-left: 10px;

	background-color: rgba(51, 45, 108, .7);

	top: 30px;
	left: 150px;

	position: absolute;
}
#cover-text-lower {
	font-size: 130%;
	font-family: Oswald;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #ffffff;

	width: 600px;
	height: 200px;
	border-radius: 2%;

	padding-top: 40px;
	padding-left: 10px;

	background-color: rgba(51, 45, 108, .7);

	bottom: 30px;
	right: 150px;

	position: absolute;
}
.product {
	
	color: #ffffff;
	background-color:rgba(51, 45, 108, .7);
	width: 100%;
	height: 300px;
	float: left;
	padding: 30px 0 0 10px;
	text-align: center;
	border-radius: 2%;
	margin: 2px;
	position: relative;

}
ul {
	list-style-type: none;
   }

.product h3 {
	color: #ffffff;
}

.button-align {

	text-align:center;
}
.btn {
	display: inline-block;
	float: none;
	position: absolute;
	bottom: 10px;
	margin-left: -8%;
	
}
.end {
	width: 100%;
	height: 200px;
	float: left;
	padding: 30px 0 0 10px;
	text-align: center;
	border-radius: 2%;
	margin: 2px;
	position: relative;
}
/*Hire Page*/

#hire-outer{
	height: 600px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#hire-image {
	height: 600px;
	width: 100%;
	background: url("https://starranuk.github.io/pls/assets/images/hire.png")no-repeat center center;
}
#cover-text-hire {
	font-size: 130%;
	font-family: Oswald;
	letter-spacing: 4px;
	color: #ffffff;

	width: 650px;
	height: 500px;
	border-radius: 2%;

	padding-top: 40px;
	padding-left: 10px;

	background-color: rgba(51, 45, 108, .7);

	top: 30px;
	left: 50px;

	position: absolute;
}
/* Contact Page */

#contact-form-container{
	background: url("https://starranuk.github.io/pls/assets/images/van2.jpg");
	padding: 30 0;
    background-size: cover;
  	background-position: center;
  	height: 800px;
	position: relative;
	
}

#form-block {
    color: #fff;
    background-color: rgba(51, 45, 108, .7);
    width: 40%;
	position: absolute;
	margin: 0 auto;
	border-radius: 4%;
    padding: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.text-input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    border-radius: 5px;
  }
  label {
    line-height: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    padding:0;
  }


  .submit-button {
	border-radius: 3px;
	color:#999999;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;

}

.signup-form {
    margin-top: 35px;
  }
/*iMac Pro*/
@media screen and (max-width: 5000px) {


	#cover-text-upper {
		text-align: center;
		left: 0;
	}
	#cover-text-lower {
		text-align: center;
		right: 0;
	}

@media screen and (max-width: 1200px) {

	#cover-text-upper {
		text-align: center;
		left: 0;
	}
	#cover-text-lower {
		text-align: center;
		left: 0;
	}

	/*iPhone 5/SE*/
@media screen and (max-width: 320px) {
	
	}	
		#cover-text-upper {
			
			width: 300px;
			height: 150px;
			padding: 20px 0px 0px 20px;
			
			
		}

		#cover-text-lower {
			width: 300px;
			height: 150px;
			padding: 20px 0px 0px 20px;
			
		}

		#cover-text-upper h2 {
		left: 0px;
		font-size: 100%;
		text-align: left;
	}
		#cover-text-lower h2 {
		left: 0px;
		font-size: 100%;
		text-align: left;
		
	}
		/*Contact Form*/
		#form-block {
			width: 70%;
			
	}
		.contact-text {
			font-size: 80%;
	}
		legend {
			font-size: 80%;
		}
		label {
			font-size: 60%;
	
		}

		.text-input {
			margin-top: 2px;
    		margin-bottom: 5px;
		}
		.submit-button {
			padding: 10px 25px;
			font-size: 12px;
		}
		/*Hire*/

		}
		.hire-p {
			font-size: 20%;
		}

		




	

